
.container {
    width: 500px;
    background-color: orange;
    padding: 20px;
    margin: auto;
}

.heading {
    font-size: 30px;
    text-align: center;
}

.login {
    width: 300px;
    margin: auto;
}

.login input {
    padding: 10px;
    width: 300px;
}

.login button:hover {
    background-color: purple
}

.login button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
}

.login div {
    margin-bottom: 20px;
}

.alinkI {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.profile {
    font-size: 20px;
}

.check-in-btn,
.check-out-btn {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
}

.check-in-btn:hover,
.check-out-btn:hover {
    background-color: purple;
}
